.idea
.project
.svn
*.iml
target
.settings
.classpath
lib
*/lib
*/source
*/target
**/*.jar
.DS_Store
**/.cache-*
**/resources.dev/jdbc.properties
**/resources.prod/jdbc.properties
**/resources.dev/schedule.properties
**/resources.prod/schedule.properties